.projectCard {
  aspect-ratio: 4 / 3;
  width: 100%;
  max-width: 520px;
  position: relative;
  object-fit: contain;
}

.projectTitleTab {
  position: absolute;
  top: -1.7rem;
  left: 0.4rem;
  width: fit-content;
  height: 1.7rem;
  padding: 0 10px;
  border: 1px solid var(--secondary-grey);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 3;
  color: var(--primary-dark);
  background-color: var(--tertiary-purple);
  background-color: var(--light-coral);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.projectTitleTab::after {
  content: "";
  position: absolute;
  top: 1.45rem;
  left: 0;
  width: 100%;
  height: 0.15rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.projectCard img,
.projectInfoView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #d5d4d4;
  border-radius: 0.25rem;
}

.projectCard img {
  z-index: 2;
  opacity: 1;
}

.projectInfoView {
  z-index: 1;
  opacity: 0;
  background-color: var(--background-color-lightest);
  color: var(--primary-dark);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.projectCard.active img {
  opacity: 0;
}

.projectCard.active .projectInfoView {
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  flex: 1;
  font-size: 1rem;
}

.midDescription {
  display: none;
}

.detailedDescription {
  display: none;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
}

.techChip {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 0.75em;
  margin: 0 0.5em 0.5em 0;
  color: var(--primary-dark);
  background-color: var(--pastel-mint);
  border: 1px solid var(--pastel-mint-outline);
  border-radius: 12px;
  line-height: 1;
  font-weight: 600;
  font-size: 0.85rem;
  white-space: nowrap;
}

.projectLinksContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linkBtn {
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: #171717;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  padding: 3px 8px;
  border-radius: 10px;
  font-weight: 600;
}

.linkBtn:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--accent-outline);
  text-decoration-thickness: 3px;
  outline: none;
}

@media (min-width: 500px) {
  .projectInfoView {
    padding: 1em;
  }

  .midDescription {
    display: block;
  }
}
@media (min-width: 768px) {
  .projectCard {
    max-width: 650px;
  }

  .description {
    margin-bottom: 0em;
  }

  /* .projectInfoView {
    padding: 3em;
  } */
  .midDescription {
    display: block;
    margin: 1em 0;
  }
}

@media (min-width: 1024px) {
  .projectCard {
    max-width: 750px;
  }
  .midDescription {
    margin: 0;
  }
  .detailedDescription {
    display: block;
  }
}

@media (min-width: 1400px) {
  .projectCard {
    max-width: 580px;
  }

  .projectInfoView {
    padding: 1em;
  }
}
