.customSelect {
  background-color: #fefefe;
  color: #1e201f;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: fit-content;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.options {
  display: none;
}

.options.active {
  display: block;
}
