.customSelect {
  color: var(--primary-dark);
  font-size: 1rem;
  padding: 9px 0;
  position: absolute;
  right: 10px;
  top: 7px;
}

.selected {
  background-color: var(--background-color-lightest);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
  position: relative;
  padding: 0px 16px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}

.selected:hover {
  cursor: pointer;
}

.flag {
  display: inline-block;
  padding-right: 1px;
  width: 22px;
  height: auto;
}

.arrow {
  position: absolute;
  right: 0px;
  top: 2px;
  pointer-events: none;
}

.options {
  background-color: var(--background-color-lightest);
  border: 1px solid var(--secondary-grey);
  border-radius: 4px;
  display: none;
  width: 100px;
  border-top: 1px solid var(--secondary-grey);
}

.options.active {
  display: block;
}

.options li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  justify-content: start;
  padding: 9px 6px 9px 4px;
}

.options li:first-child {
  border-bottom: 1px solid var(--secondary-grey);
}

.options li:hover,
.options li:focus-visible {
  background-color: #d4d1d1;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
}
